<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SAV Glisse</title>

	<link rel="stylesheet" title="style1" type="text/css" href="BaseG.css" >
	<link rel="stylesheet" title="style1" type="text/css" href="SAVG.css" >
	<link rel="stylesheet" title="style1" type="text/css" href="bootstrap/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Nicob">
	<meta name="description" content="SAV Glise">
</head>

<body>
	<div class="page">
		<div class='bandeau'>
			<div class="logo">
				<a href="AccueilG.html">
					<img src="Images/logo.jpg" class='imglogo'>
				</a>
			</div>
			<div class="boitemenu">
				<div class="connexion">
					<a class="btn btn-warning btn-lg" role="button">Panier</a>
					<a class="btn btn-warning btn-lg" role="button" href="Connexion.html">Connexion</a>
				</div>
				<div class='menu'>
					<ul class='nav nav-pills'>
						<li> <a href='AchatsG.html'>Achats en ligne</a> </li>
						<li> <a href='LocationG.html'>Location</a></li>
						<li> <a href='FideliteG.html'>Carte de fidélité</a> </li>
						<li class="active"> <a href='SAVG.html'>SAV</a> </li>
						<li> <a href='ServicesG.html'>Services</a> </li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="contenu">
			<div class="espace">
				<div class="cycles">
					<a class="espace" href="FideliteC.html"> Espace cycles</a>
				</div>
				<div class="glisse">
					<p class="espace"> Espace glisse</p>
				</div>
			</div>
			
			<div class="SAV">
				<div class="texte">
					<p>Si une des situations ci-dessous correspond à la vôtre, vous pouvez bénéficiez de notre Service Après Vente :
						<ul>
							<li><p>Cassé</p></li>
							<li><p>Abimé</p></li>
							<li><p>Défectueux</p></li>
							<li><p>Inadapté</p></li>
							<li><p>Taché</p></li>
						</ul>
					</p>
					<p> Veuillez nous retourner le produit à l'adresse suivante : </p>
					<p class="adresse">401 Avenue du ski<br>
					74400 Chamonix</p>
				</div>			
			</div>			
			
			
			<div class="promo">
				<p>Articles les plus populaires</p>
				<div class="article">
					<img class="article" src="Images/skis.jpg" alt="Article populaire 1" href='#'>
				</div>
				<div class="article">
					<img class="article" src="Images/skis.jpg" alt="Article populaire 2" href='#'>
				</div>
				<div class="article">
					<img class="article" src="Images/skis.jpg" alt="Article populaire 3" href='#'>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<p class="footer">Glisse&amp;Cycles France</p>
			<p class="footer">Contactez-nous</p>
		</div>
	
	</div>
</body>
