div.fidelite {
	background-color : rgba(255,192,203,0.7);
	font-size : 20px;
	text-align : justify;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 300px;
}

div.explication {
	padding : 40px;
	width : 48%;
	float : left;
	display : inline-block;
}

div.consultation {
	padding : 40px;
	width : 48%;
	float : right;
	display : inline-block;
}

div.champs {
	padding-top : 40px;
	margin : auto;
	width : 50%;
}
