<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Carte de fidélité</title>

	<link rel="stylesheet" title="style1" type="text/css" href="css/BaseC.css" >
	<link rel="stylesheet" title="style1" type="text/css" href="css/FideliteC.css" >
	<link rel="stylesheet" title="style1" type="text/css" href="css/bootstrap/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Nicob">
	<meta name="description" content="Carte de fidélité">
</head>

<body>
	<div class="page">
		<div class='bandeau'>
			<div class="logo">
				<a href="AccueilC">
					<img src="css/Images/logo.jpg" class='imglogo'>
				</a>
			</div>
			<div class="boitemenu">
				<div class="connexion">
					<a class="btn btn-warning btn-lg" role="button">Panier</a>
					<a class="btn btn-warning btn-lg" role="button" href="Connexion">Connexion</a>
				</div>
				<div class='menu'>
					<ul class='nav nav-pills'>
						<li> <a href='AchatsC'>Achats en ligne</a> </li>
						<li> <a href='LocationC'>Location</a></li>
						<li class="active"> <a href='FideliteC'>Carte de fidélité</a> </li>
						<li> <a href='SAVC'>SAV</a> </li>
						<li> <a href='SerivesC'>Services</a> </li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="contenu">
			<div class="espace">
				<div class="cycles">
					<p class="espace"> Espace cycles</p>
				</div>
				<div class="glisse">
					<a class="espace" href="FideliteG"> Espace glisse</a>
				</div>
			</div>
			
			
			
			
			<div class="fidelite">
				<div class="explication">
					<p>Vous ne connaissez pas les avantages fidélité de notre magasin ?</p>
					<p>Vous obtenez automatiquement un compte de fidélité lors de votre premier achat chez Glisse&Cycles. 
					Pour chaque achat, vous cumulez des points qui vous permettrons d'obtenir des remises sur vos prochains achats.</p>
				</div>
				<div class="consultation">
					<p>Consultez le solde actuel de votre compte de fidélité : </p>
					<div class="champs">
						<input type="text" class="form-control" placeholder="Code de fidélité" required="" autofocus="">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Consulter le solde</button>
					</div>
				</div>
			</div>
			
			
			
			
			
			<div class="promo">
				<p>Articles les plus populaires</p>
				<div class="article">
					<img class="article" src="css/Images/skis.jpg" alt="Article populaire 1" href='#'>
				</div>
				<div class="article">
					<img class="article" src="css/Images/skis.jpg" alt="Article populaire 2" href='#'>
				</div>
				<div class="article">
					<img class="article" src="css/Images/skis.jpg" alt="Article populaire 3" href='#'>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<p class="footer">Glisse&amp;Cycles France</p>
			<p class="footer">Contactez-nous</p>
		</div>
	
	</div>
</body>
